@import "styles/variables";

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $primary-color;
  color: $secondary-color;
  z-index: 101;
  min-height: $header-height;
  align-items: center;
}

.title {
  font-size: $title-size;
  text-align: center;
}

@media (max-width: $small) {
  .header {
    min-height: $header-height-small;
  }
}

@media (max-width: $small) {
  .title {
    font-size: $title-size-small;
    text-align: center;
  }
}