@import "styles/variables";

.home {
  width: 100%;
  margin-top: $home-margin-top;
  margin-bottom: $home-margin-top;
}

@media (min-width: $large) {
  .home {
    margin-top: $home-margin-top-large;
    margin-bottom: $home-margin-top-large;
  }
}


.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: space-around;

  &__item {

  }
}

.checkbox {
  -ms-transform: $checkbox-scale;
  -moz-transform: $checkbox-scale;
  -webkit-transform: $checkbox-scale;
  -o-transform: $checkbox-scale;
  transform: $checkbox-scale;
}

.chart {
  margin-top: $chart-margin-top;
  width: 100%;
  min-height: $chart-height;
}

@media (min-width: $large) {
  .chart {
    width: $chart-width;
  }
}

@media (max-width: $impossible) {
  .chart {
    width: 0;
  }
}







