$header-height: 80px;
$header-height-small: 10vh;

$home-margin-top: 5vh;
$home-margin-top-large: $header-height;

$footer-height: 80px;

$primary-color: #000;
$secondary-color: #fff;

$chart-height: 400px;
$chart-width: 800px;
$chart-margin-top: 2rem;

$title-size: 2em;
$title-size-small: 15vw;

$footer-line: 1px solid #eaeaea;

$impossible: 150px;
$small: 200px;
$medium: 600px;
$large: 800px;